body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0 20px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header, footer {
	text-align: center;
	margin: 20px 0;
}

h1 {
	margin-bottom: 5px;
}
